.randomizer__container {
  display: grid;
  grid-template-areas:
    "Controls Results"
    "Edit Edit"
    "Filter Filter";
  --auto-grid-min-size: 16rem;
  grid-template-columns: min-content 1fr;
  grid-gap: 0px;
  width: 95vw;
  background-color: var(--section-background-color-primary);
  padding: 0 0 0 0;
  margin: 0 0 5px 0;
  border: 2px solid var(--color-medium-gray);
  border-radius: 5px;
}

.randomizer__controls_section {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  height: 2.4rem;
  align-content: center;
  grid-area: Controls;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.randomizer__results_section {
  grid-area: Results;
  position: relative;
  font-size: 1.6rem;
  white-space: nowrap;
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
}

.randomizer__edit_section {
  grid-area: Edit;
  background-color: var(--section-background-color-tertiary);
  border-top: 2px solid var(--color-medium-gray);
  margin: 0;
  padding: 10px 5px 0 10px;
  display: flex;
  min-height: var(--randomizer-edit-section-height);
  align-items: flex-start;
}

.randomizer__main {
  text-align: center;
  color: var(--color-text-highlight);
}

.randomizer__counter {
  color: var(--color-text-accent-primary);
}

.randomizer__button_reset,
.randomizer__button_default {
  padding: 5px 15px 5px 15px;
  margin: 0 5px 0 5px;
  border: 2px solid transparent;
  border-radius: 5px;
  text-align: center;
  transition: all 0.4s ease 0s;
  color: var(--color-medium-gray);
  white-space: nowrap;
  cursor: pointer;
}

.randomizer__button_default {
  background-color: var(--button-color);
}

.randomizer__button_reset {
  background-color: var(--color-dark-red);
}

.randomizer__button_default:hover {
  color: var(--color-text-highlight);
  border: 2px solid var(--color-text-accent-primary);
  background-color: var(--button-color-active);
}

.randomizer__button_default:active {
  color: var(--color-light-gray);
  border: 2px solid var(--color-text-accent-primary);
  background-color: var(--button-color);
}

.randomizer__button_reset:hover {
  color: var(--color-text-highlight);
  border: 2px solid var(--color-text-highlight);
  background-color: var(--color-bright-red);
}

.randomizer__button_reset:active {
  color: var(--color-light-gray);
  border: 2px solid var(--color-text-highlight);
  background-color: var(--color-dark-red);
}

.randomizer__results {
  top: 12px;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.randomizer__results--spinning {
  position: absolute;
  animation-name: slideup;
  animation-duration: 0.035s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  filter: blur(1px) !important;
}

@keyframes slideup {
  0% {
    top: 25px;
  }
  12% {
    top: 15px;
  }
  24% {
    top: 0px;
  }
  36% {
    top: -15px;
  }
  48% {
    top: -25px;
  }
  60% {
    top: 25px;
  }
  72% {
    top: 15px;
  }
  84% {
    top: 0px;
  }
}

@-moz-keyframes slideup {
  0% {
    top: 25px;
  }
  12% {
    top: 15px;
  }
  24% {
    top: 0px;
  }
  36% {
    top: -15px;
  }
  48% {
    top: -25px;
  }
  60% {
    top: 25px;
  }
  72% {
    top: 15px;
  }
  84% {
    top: 0px;
  }
}

@-webkit-keyframes slideup {
  0% {
    top: 25px;
  }
  12% {
    top: 15px;
  }
  24% {
    top: 0px;
  }
  36% {
    top: -15px;
  }
  48% {
    top: -25px;
  }
  60% {
    top: 25px;
  }
  72% {
    top: 15px;
  }
  84% {
    top: 0px;
  }
}

@-o-keyframes slideup {
  0% {
    top: 25px;
  }
  12% {
    top: 15px;
  }
  24% {
    top: 0px;
  }
  36% {
    top: -15px;
  }
  48% {
    top: -25px;
  }
  60% {
    top: 25px;
  }
  72% {
    top: 15px;
  }
  84% {
    top: 0px;
  }
}

@-ms-keyframes slideup {
  0% {
    top: 25px;
  }
  12% {
    top: 15px;
  }
  24% {
    top: 0px;
  }
  36% {
    top: -15px;
  }
  48% {
    top: -25px;
  }
  60% {
    top: 25px;
  }
  72% {
    top: 15px;
  }
  84% {
    top: 0px;
  }
}

.randomizer__edit_details {
  padding: 0 10px 0 5px;
  font-family: "Courier New", monospace !important;
  white-space: nowrap;
}

.randomizer__edit_details h3 {
  display: block;
  text-align: center;
  margin: 0 0 5px 0;
  font-weight: normal;
  color: var(--color-light-gray);
}

.randomizer__edit_items {
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;
  transition: all 0.4s ease 0s;
}

.randomizer__item_label {
  cursor: pointer;
  flex: var(--randomizer-item-flex);
  align-self: center;
  vertical-align: middle;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  max-width: calc(100% / 3);
}

.randomizer__item_label:hover {
  color: var(--color-text-highlight);
}

.randomizer__item_label--active {
  color: var(--color-light-gray);
  background-color: transparent !important;
}

.randomizer__item_label--inactive {
  color: var(--color-medium-gray);
  background-color: var(--section-background-color-primary);
}

.randomizer__item_label--removed span + span {
  color: var(--color-dark-red);
  text-decoration: line-through;
  /* background-color: var(--section-background-color-secondary) !important; */
  /* opacity: 1; */
}

.randomizer__item_label--selected {
  background-color: var(--button-color-active);
  text-decoration: none;
  color: var(--color-text-highlight);
  border-radius: 5px;
}

.randomizer__remove_item {
  color: var(--color-medium-gray);
  cursor: pointer;
}

.randomizer__remove_item:hover {
  color: var(--color-bright-red);
}

.randomizer__item_type_filters {
  grid-area: Filter;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0px;
}

.randomizer__item_type_filter {
  color: var(--color-light-gray);
  border-top: 2px solid var(--color-medium-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: calc(100% / 5);
  min-height: 2rem;
  position: relative;
  cursor: pointer;
  text-transform: capitalize;
}

.randomizer__item_type_filter span {
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.randomizer__item_type_filter:hover span {
  color: var(--color-text-highlight);
  font-size: 110%;
}

.randomizer__item_type_filter--selected {
  background-color: var(--button-color);
  color: var(--color-text-highlight);
}

.randomizer__edit_items--loading {
  opacity: 0.45;
}