.evidence__items {
  display: flex;
  flex-wrap: wrap;
  justify-self: var(--evidence-item-justify-self);
}

.evidence__item {
  color: var(--color-medium-gray);
  flex: var(--evidence-item-flex);
}

.evidence__status {
  display: inline;
}

.evidence__item--name {
  transition: all 0.4s ease 0s;
  justify-self: flex-start;
  vertical-align: middle;
  align-self: center;
}

.evidence__status__exclude {
  padding-right: 5px;
  padding-left: 5px;
  cursor: pointer;
  display: inline;
  vertical-align: middle;
  align-self: center;
}

.disabled {
  color: var(--color-medium-grey) !important;
}
.active-excluded {
  color: var(--color-dark-red) !important;
}

.active-confirmed {
  color: var(--color-medium-green) !important;
}

.evidence__status__exclude:hover {
  color: var(--color-bright-red) !important;
}

.evidence__status__confirm {
  color: var(--color-medium-green);
  cursor: pointer;
}

.evidence__status__confirm:hover {
  color: var(--color-medium-green) !important;
}

.evidence__item .evidence__name {
  opacity: 1;
}

.evidence__item:hover .evidence__name-confirmed,
.evidence__item:hover .evidence__name-unconfirmed,
.evidence__item:hover .evidence__name-excluded {
  opacity: 1;
}

.evidence__name-confirmed,
.evidence__name-unconfirmed,
.evidence__name-excluded {
  display: inline;
  vertical-align: middle;
  padding-left: 5px;
  padding-right: 5px;
  color: var(--color-medium-gray);
  font-size: 1.2rem;
  white-space: nowrap;
}

.evidence__name-confirmed {
  color: var(--color-text-highlight);
}

.evidence__name-excluded {
  color: var(--color-dark-red);
  text-decoration: line-through;
}

.evidence__emf::after {
  content: "EMF Level 5";
}

.evidence__freezing::after {
  content: "Freezing Temps";
}

.evidence__writing::after {
  content: "Ghost Writing";
}

.evidence__fingerprints::after {
  content: "Fingerprints";
}

.evidence__orbs::after {
  content: "Ghost Orbs";
}

.evidence__box::after {
  content: "Spirit Box";
}

@media only screen and (max-width: 768px) {
  .evidence__emf::after {
    content: "EMF 5";
  }

  .evidence__freezing::after {
    content: "Freezing";
  }

  .evidence__writing::after {
    content: "Writing";
  }

  .evidence__fingerprints::after {
    content: "Fingies";
  }

  .evidence__orbs::after {
    content: "Orbs";
  }

  .evidence__box::after {
    content: "Spirit Box";
  }
}
