.ghost__list  {
  display: grid;
  padding: 10px;
  margin: var(--ghosts-margin);
  grid-template-columns: var(--ghosts-columns);
  grid-template-rows: var(--ghosts-rows);
}

.ghost__button {
  border: 2px solid transparent !important;
  background-color: var(--button-color);
  color: var(--color-text-highlight);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 16px;
  min-width: 8em;
  margin: 6px;
}

.ghost__button-valid {
  color: var(--color-text-highlight);
}

.ghost__button-invalid {
  background-color: var(--button-color-invalid);
  color: black;
  opacity: 0.15;
}

.ghost__button-invalid:hover,
.ghost__button-valid:hover {
  border: 2px solid white !important;
  background-color: var(--button-color-active);
  color: var(--color-text-highlight);
  transition: all 0.4s ease 0s;
}

.ghost__button-last {
  outline: none;
  border-color: var(--color-light-gray) !important;
  box-shadow: 0 0 10px #ed9e9e !important;
  color: var(--color-light-gray);
  background-color: var(--color-dark-red);
  transition: all 0.4s ease 0s;
}

.ghost__button-last:hover {
  outline: none;
  border-color: var(--color-text-highlight) !important;
  box-shadow: 0 0 10px #ed9e9e !important;
  color: var(--color-text-highlight);
  background-color: var(--color-dark-red);
}
