.ghost__list {
  --auto-grid-min-size: 16rem;
  display: grid;
  grid-gap: 0.75em;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  padding: 10px;
  justify-self: flex-start;
  justify-items: stretch;
  padding-right: 25px;
}

@media (max-width: 1200px) {
  .ghost__list {
    --auto-grid-min-size: 16rem;
    display: grid;
    grid-gap: 0.35em;
    grid-template-columns: repeat(
      auto-fill,
      minmax(var(--auto-grid-min-size), 1fr)
    );
    padding: 10px;
  }
}

@media (max-width: 1024px) {
  .ghost__list {
    --auto-grid-min-size: 10rem;
    display: grid;
    grid-gap: 0.95em;
    grid-template-columns: repeat(
      auto-fill,
      minmax(var(--auto-grid-min-size), 1fr)
    );
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .ghost__list {
    --auto-grid-min-size: 12rem;
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(var(--auto-grid-min-size), 1fr)
    );
    padding: 10px;
  }
}
@media (max-width: 480px) {
  .ghost__list {
    --auto-grid-min-size: 10rem;
    display: grid;
    grid-gap: 0.45em;
    grid-template-columns: repeat(
      auto-fill,
      minmax(var(--auto-grid-min-size), 1fr)
    );
    padding: 10px;
  }
}

.ghost__button {
  border: 2px solid transparent !important;
  background-color: var(--button-color);
  color: var(--color-text-highlight);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 16px;
  min-width: 8em;
}

.ghost__button-valid {
  color: var(--color-text-highlight);
}

.ghost__button-invalid {
  background-color: var(--button-color-invalid);
  color: black;
  opacity: 0.15;
}

.ghost__button-invalid:hover,
.ghost__button-valid:hover {
  border: 2px solid white !important;
  background-color: var(--button-color-active);
  color: var(--color-text-highlight);
  transition: all 0.4s ease 0s;
}

.ghost__button-last {
  outline: none;
  border-color: var(--color-light-gray) !important;
  box-shadow: 0 0 10px #ed9e9e !important;
  color: var(--color-light-gray);
  background-color: var(--color-dark-red);
  transition: all 0.4s ease 0s;
}

.ghost__button-last:hover {
  outline: none;
  border-color: var(--color-text-highlight) !important;
  box-shadow: 0 0 10px #ed9e9e !important;
  color: var(--color-text-highlight);
  background-color: var(--color-dark-red);
}
