* {
  z-index: 1;
}

body {
  background-color: #31343a;
  font-family: "Indie Flower", cursive;
}

.App {
  display: grid;
  justify-content: space-evenly;
  grid-template:
    "header"
    "evidence"
    "ghosts"
    "controls"
    "secondary"
    "version";
  grid-gap: 0.30rem;
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.App-header {
  --main-width: calc(100vw);
  background-color: transparent;
  font-weight: bold;
  font-size: calc(10px + 2vmin);
  color: rgb(163, 163, 163);
  grid-area: header;
  justify-self: center;
  --header-height: 100vh;
}

.App-section-ghosts {
  padding-top: 10px;
  padding-bottom: 0;
  margin: 0;
  padding-left: 10px;
  background-color: transparent;
  display: grid;
  grid-template-columns: repeat(3, 175px);
  justify-content: center;
  justify-self: center;
  grid-area: ghosts;
  text-transform: capitalize;
  z-index: 0;
}

.App-section-evidence {
  padding-left: 10px;
  background-color: transparent;
  display: grid;
  grid-template-columns: repeat(3, 175px);
  grid-area: evidence;
  justify-self: center;
  justify-items: stretch;
  --evidence-height: 100vh;
}

.App-section-controls {
  grid-area: controls;
  justify-self: flex-end;
  padding-right: 7px;
}

.App-background {
  background-image: url(./creepy-ghost.svg);
  background-repeat: no-repeat;
  background-position: center top;
  opacity: 0.7;
  background-size: 50vw;
  top: 20px;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  transition: all 0.4s ease 0s;
}

.App-section-controls button {
  width: 150px;
  color: rgb(224, 224, 224) !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #9b201e;
  padding: 10px;
  border-radius: 7px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  outline: none;
}

.App-section-controls button:hover {
  color: rgb(224, 224, 224) !important;
  background: #d82f2c;
}

.App-section-controls button:active {
  color: #fff !important;
  background: #8b1e1d;
}

.App-section-version {
  color: lightgray;
  opacity: 0.3;
  justify-self: center;
  padding: 5px;
  padding-left: 8px;
  font-size: 0.65rem;
  grid-area: version;
}

/* Secondary */
.App-section-secondary-evidence {
  background-color: transparent;
  display: grid;
  color: rgb(163, 163, 163);
  font-size: 18px;
  grid-area: secondary;
  justify-content: center;
}
