/* Background Image Opacities */
.opacity-0 {
  opacity: 0;
}

.opacity-9 {
  opacity: 0.09;
}

.opacity-18 {
  opacity: 0.18;
}

.opacity-27 {
  opacity: 0.27;
}

.opacity-36 {
  opacity: 0.36;
}

.opacity-45 {
  opacity: 0.45;
}

.opacity-54 {
  opacity: 0.54;
}

.opacity-63 {
  opacity: 0.63;
}

.opacity-72 {
  opacity: 0.72;
}

.opacity-81 {
  opacity: 0.81;
}

.opacity-90 {
  opacity: 0.9;
}

.opacity-99 {
  opacity: 0.99;
}