span.Evidence-item {
  display: inline;
  vertical-align: middle;
}

span.Evidence-item span.Evidence-name {
  opacity: 1;
}

span.Evidence-item:hover span.Evidence-name-confirmed,
span.Evidence-item:hover span.Evidence-name-unconfirmed,
span.Evidence-item:hover span.Evidence-name-excluded {
  opacity: 1;
}

span.Evidence-name-confirmed,
span.Evidence-name-unconfirmed,
span.Evidence-name-excluded {
  display: inline;
  vertical-align: middle;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  opacity: 0.35;
  color: white;
}

span.Evidence-name-confirmed {
  opacity: 1;
}

span.Evidence-name-excluded {
  opacity: 0.35;
  text-decoration: line-through;
}

.Evidence-emf::after {
  content: "EMF Level 5";
}

.Evidence-freezing::after {
  content: "Freezing Temps";
}

.Evidence-writing::after {
  content: "Ghost Writing";
}

.Evidence-fingerprints::after {
  content: "Fingerprints";
}

.Evidence-orbs::after {
  content: "Ghost Orbs";
}

.Evidence-box::after {
  content: "Spirit Box";
}

@media only screen and (max-width: 768px) {
  .Evidence-emf::after {
    content: "EMF 5";
  }
  
  .Evidence-freezing::after {
    content: "Freezing";
  }
  
  .Evidence-writing::after {
    content: "Writing";
  }
  
  .Evidence-fingerprints::after {
    content: "Fingerprints";
  }
  
  .Evidence-orbs::after {
    content: "Orbs";
  }
  
  .Evidence-box::after {
    content: "Spirit Box";
  }
}