span.Tag-ghost-valid {
  border: 2px solid transparent !important;
  background-color: #184e77;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

span.Tag-ghost-invalid {
  border: 2px solid transparent !important;
  background-color: #ddd;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  opacity: 0.15;
}

span.Tag-ghost-invalid:hover,
span.Tag-ghost-valid:hover {
  border: 2px solid white !important;
  background-color: #1a759f;
  color: white;
}

span.Tag-ghost-last {
  outline: none;
  border-color: lightgray !important;
  box-shadow: 0 0 10px #ed9e9e !important;
  color: lightgray;
  background-color: darkred;
}

span.Tag-ghost-last:hover {
  outline: none;
  border-color: white !important;
  box-shadow: 0 0 10px #ed9e9e !important;
  color: white;
  background-color: rgb(153, 1, 1);;
}