@media only screen and (max-width: 768px) {
  .App {
    font-family: "Ink Free", sans-serif;
    display: grid;
    justify-content: center;
    justify-self: center;
    grid-template:
      "header"
      "evidence"
      "ghosts"
      "secondary"
      "controls"
      "version";
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  .App-header {
    background-color: transparent;
    font-weight: bold;
    font-size: calc(10px + 2vmin);
    color: rgb(163, 163, 163);
    grid-area: header;
    justify-self: center;
  }
  .App-section-evidence {
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(2, calc(50vw - 60px));
    grid-area: evidence;
    justify-content: space-between;
  }
  .App-section-ghosts {
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(2, calc(50vw - 7px));
    justify-items: space-around;
    grid-area: ghosts;
    padding: 0;
    text-transform: capitalize;
  }
  .App-section-controls {
    grid-area: controls;
    justify-self: space-evenly;
    padding-left: 7px;
  }
  .App-section-secondary-evidence {
    background-color: transparent;
    display: grid;
    color: rgb(163, 163, 163);
    font-size: 14px;
    grid-area: secondary;
    justify-content: flex-start;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
  }
  ul.Secondary-evidence li {
    text-align: left;
    list-style-type: none;
    display: grid;
    grid-template: "icons description";
    grid-template-columns: 36px calc(100vw - 100px);
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
  }
  span.Secondary-evidence-description span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
    max-width: calc(100vw - 200px);
    width: 300px;
  }
  .App-section-version {
    color: lightgray;
    opacity: 0.3;
    justify-content: space-evenly;
    font-size: 0.65rem;
    grid-area: version;
  }
  .material-icons {
    font-size: 14px;
    padding: 0;
    margin: 0;
    display: inline;
    vertical-align: middle;
  }
}
