@media only screen and (max-width: 768px) {
  * {
    --main-width: calc(100vw);
    z-index: 1;
  }
  .App {
    font-family: "Indie Flower", cursive;
    display: grid;
    justify-content: center;
    justify-self: center;
    grid-template:
      "header"
      "tools"
      "evidence"
      "ghosts"
      "controls"
      "secondary"
      "version";
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  .App-header {
    background-color: transparent;
    font-weight: bold;
    font-size: calc(10px + 2vmin);
    color: rgb(163, 163, 163);
    grid-area: header;
    justify-self: center;
    height: 30px;
  }
  .App-section-evidence {
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(2, 175px);
    grid-area: evidence;
    justify-self: flex-end;
    justify-content: flex-end;
    justify-self: flex-end;
    height: 65px;
  }
  .App-section-ghosts {
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(2, 175px);
    justify-self: center;
    grid-area: ghosts;
    padding: 10px;
    text-transform: capitalize;
    z-index: 0;
  }
  .App-section-controls {
    grid-area: controls;
    justify-self: center;
    padding-right: 7px;
  }

  .App-section-secondary-evidence {
    background-color: transparent;
    display: grid;
    color: rgb(163, 163, 163);
    font-size: 14px;
    grid-area: secondary;
  }

  .Secondary-evidence-header {
    text-align: center;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    display: inline;
    min-width: calc(100vw);
  }

  .App-background {
    content: "";
    background-image: url(./creepy-ghost.svg);
    background-repeat: no-repeat;
    background-position: center top;
    opacity: 0.7;
    background-size: calc(100vw - 10px);
    top: 20px;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -3;
    transition: all 0.4s ease 0s;
  }

  ul.Secondary-evidence-visible li {
    text-align: left;
    list-style-type: none;
    display: grid;
    grid-template: "icons description";
    grid-template-columns: 36px calc(100vw - 40px);
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
  }

  ul.Secondary-evidence-visible {
    transition: all 0.4s ease 0.4s;
    justify-self: center;
    padding-left: 15px;
  }

  span.Secondary-evidence-description {
    grid-area: description;
    border-left: 2px solid transparent;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
  }
  span.Secondary-evidence-description span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
  }
  .App-section-version {
    color: lightgray;
    opacity: 0.3;
    justify-self: center;
    font-size: 14px;
    grid-area: version;
  }
  .material-icons {
    font-size: 14px;
    padding: 0;
    margin: 0;
    display: inline;
    vertical-align: middle;
  }
}
