div.Tools-container {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  min-width: 100vw;
  background-color: #3e4249;
  opacity: 0.8;
  transition: all 0.4s ease 0s;
}

span.Tools-options {
  text-align: right;
  vertical-align: bottom;
}

span.Tools-item {
  color: grey;
  display: inline;
  border-radius: 5px;
  padding: 3px;
  vertical-align: bottom;
  font-size: 14px;
}

span.Tools-item:hover {
  color: white;
}

span.Tools-item:hover {
  background-color: #3e4249;
  cursor: pointer;
}

span.Tools-label {
  text-align: center;
  display: block;
  color: lightgray;
}

span.Tools-results {
  border-radius: 5px;
  display: inline;
  color: lightgray;
  font-size: 14px;
  display: inline;
  vertical-align: bottom;
}

span.Tools-results-reset {
  display: inline;
  color: gray;
  padding-right: 7px;
}

span.Tools-results-reset:hover {
  cursor: pointer;
  color: white;
}

span.Tools-results-reset:hover + span {
  color: red;
  text-decoration: line-through;
  opacity: 0.95;
}

