.randomizer {
  display: grid;
  grid-template-areas: 
    "randomizerControls randomizerResult";
  justify-content: center;
  justify-self: center;
  justify-items: center;
}
.randomizer__result {
  color: white;
  display: grid;
  grid-area: randomizerResult;
}

.randomizer__controls {
  padding-right: 5px;
  vertical-align: bottom;
  display: grid;
  grid-area: randomizerControls;
}

.randomizer__fadeIn {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
