.material-icons.yellow-bright {
  color: #fff600;
}

.material-icons.red-stop {
  color: #cf142b;
}

.material-icons.orange-warning {
  color: orangered;
}

.material-icons.yellow-caution {
  color: #eed202;
}

.material-icons.green-good {
  color: green;
}
.material-icons.inverted {
  color: rgb(0, 0, 0);
}

.material-icons.grey-disabled {
  color: darkgray;
}

.material-icons.grey-inactive {
  color: darkgray;
}

.material-icons.grey-inactive:hover {
  color: lightgray;
}

.material-icons.grey-active {
  color: white;
}

.material-icons.green-neon {
  color: #39ff14;
}

.material-icons.size-small {
  font-size: 0.5em;
}

.material-icons.size-medium {
  font-size: 0.75em;
}

.material-icons.size-large {
  font-size: 1.0em;
}

.material-icons.size-extra-large {
  font-size: 1.25em;
}

.material-icons.expander {
  text-align: center;
  padding: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.material-icons {
  padding-left: 5px;
  display: inline;
  vertical-align: middle;
}
