.material-icons.yellow-bright {
  color: var(--color-bright-yellow);
}

.material-icons.red-stop {
  color: var(--color-bright-red) !important;
}

.material-icons.orange-warning {
  color: var(--color-medium-orange);
}

.material-icons.yellow-caution {
  color: var(--color-medium-yellow);
}

.material-icons.green-good {
  color: var(--color-medium-green);
}
.material-icons.inverted {
  color: var(--color-dark-gray);
}

.material-icons.grey-disabled {
  color: var(--color-medium-gray);
}

.material-icons.grey-inactive {
  color: var(--color-medium-gray);
}

.material-icons.grey-inactive:hover {
  color: var(--color-light-gray);
}

.material-icons.grey-active {
  color: var(--color-text-highlight);
}

.material-icons.green-neon {
  color: var(--color-bright-green);
}

.material-icons.size-small {
  font-size: 0.5em;
}

.material-icons.size-medium {
  font-size: 0.75em;
}

.material-icons.size-large {
  font-size: 1.0em;
}

.material-icons.size-extra-large {
  font-size: 1.25em;
}

.material-icons.expander {
  vertical-align: middle;
  cursor: pointer;
}

.material-icons.expander:hover {
  color: var(--color-text-highlight);
}

.material-icons {
  vertical-align: middle;
}