.evidence__wrapper {
  display: grid;
  grid-area: EvidenceWrapper;
  grid-template-columns: 1fr;
  grid-template-areas:
    "ghostName"
    "evidence"
    "ghosts"
    "secondaryEvidence"
    "tools";
  width: 95vw;
  align-items: flex-start;
}
