.tools__container {
  width: 100vw;
  background-color: #3e4249 !important;
  border-bottom: 2px solid gray;
  border-top: 2px solid gray;
  display: grid;
  --auto-grid-min-size: 20rem;
  grid-template-columns: repeat(
      auto-fill,
      minmax(var(--auto-grid-min-size), 1fr)
    );
  grid-auto-rows: 20px 20px 20px;
  justify-items: center;
  grid-template-areas:
    "randomizerLabel randomizerControls randomizerResult"
    "divider divider divider"
    "timerLabel timerOptions timerCounter";
}

@media (max-width: 1200px) {
  .tools__container {
    width: 100vw;
    background-color: #3e4249 !important;
    border-bottom: 2px solid gray;
    border-top: 2px solid gray;
    display: grid;
    --auto-grid-min-size: 18rem;
    grid-template-columns: repeat(
        auto-fill,
        minmax(var(--auto-grid-min-size), 1fr)
      );
    grid-auto-rows: 20px 20px 20px;
    justify-items: center;
    grid-template-areas:
      "randomizerLabel randomizerControls randomizerResult"
      "divider divider divider"
      "timerLabel timerOptions timerCounter";
  }
}

@media (max-width: 1024px) {
  .tools__container {
    width: 100vw;
    background-color: #3e4249 !important;
    border-bottom: 2px solid gray;
    border-top: 2px solid gray;
    display: grid;
    --auto-grid-min-size: 16rem;
    grid-template-columns: repeat(
        auto-fill,
        minmax(var(--auto-grid-min-size), 1fr)
      );
    grid-auto-rows: 20px 20px 20px;
    justify-items: center;
    grid-template-areas:
      "randomizerLabel randomizerControls randomizerResult"
      "divider divider divider"
      "timerLabel timerOptions timerCounter";
  }
}

@media (max-width: 768px) {
  .tools__container {
    width: 100vw;
    background-color: #3e4249 !important;
    display: grid;
    --auto-grid-min-size: 14rem;
    grid-template-columns: repeat(
        auto-fill,
        minmax(var(--auto-grid-min-size), 1fr)
      );
    grid-auto-rows: 30px 20px 30px;
    justify-items: center;
    align-items: flex-end;
    grid-template-areas:
      "randomizerLabel randomizerControls randomizerResult"
      "divider divider divider"
      "timerLabel timerOptions timerCounter";
  }
}
@media (max-width: 480px) {
  .tools__container {
    font-size: 0.85em;
    width: 100vw;
    background-color: #3e4249 !important;
    display: grid;
    --auto-grid-min-size: 10em;
    grid-template-columns: repeat(
      auto-fill,
      minmax(var(--auto-grid-min-size), 1fr)
    );
    grid-auto-rows: 25px 20px 25px;
    justify-items: center;
    align-items: flex-end;
    grid-template-areas:
      "randomizerLabel randomizerControls randomizerResult"
      "divider divider divider"
      "timerLabel timerOptions timerCounter";
  }
}

.tools__divider {
  width: 100vw;
  grid-area: divider;
  border: 0;
  border-bottom: 1px solid rgb(99, 99, 99);
  align-self: center;
}

/* RandomItem */
.randomizer__controls {
  grid-area: randomizerControls;
  color: lightgray;
  align-self: center;
  padding-top: 10px;
}

.randomizer__label {
  grid-area: randomizerLabel;
  align-self: center;
  color: lightgray;
  padding-top: 10px;
}

.randomizer__result {
  align-self: center;
  grid-area: randomizerResult;
  padding-top: 10px;
}

.randomizer__description {
  grid-area: randomizerDescription;
  min-width: 100vw;
}

.randomizer__controls span {
  padding: 3px 5px 3px 5px;
  border-radius: 5px;
}

.randomizer__controls--icon:hover {
  cursor: pointer;
  color: white !important;
}

.randomizer__fadeIn span {
  animation: fadeIn ease-out 1.2s;
  -webkit-animation: fadeIn ease-out 1.2s;
  -moz-animation: fadeIn ease-out 1.2s;
  -o-animation: fadeIn ease-out 1.2s;
  -ms-animation: fadeIn ease-out 1.2s;
}

.randomizer__default {
  color: lightgray;
}

.randomizer__hoverText {
  color: darkgray;
}

.randomizer__selectedText {
  color: #f6ae2d;
}

.randomizer__result span {
  color: #5a87a3;
  display: inline;
  vertical-align: middle;
}

@keyframes fadeIn {
  0% {
    filter: blur(1px);
    opacity: 0.5;
    color: #2f4858;
  }
  50% {
    opacity: 0.75;
    color: #42657a;
  }
  100% {
    filter: none;
    opacity: 1;
    color: #5a87a3;
  }
}

@-moz-keyframes fadeIn {
  0% {
    filter: blur(1px);
    opacity: 0.5;
    color: #466474;
  }
  50% {
    opacity: 0.75;
    color: #60869b;
  }
  100% {
    filter: none;
    opacity: 1;
    color: #86bbd8;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    filter: blur(1px);
    opacity: 0.5;
    color: #466474;
  }
  50% {
    opacity: 0.75;
    color: #60869b;
  }
  100% {
    filter: none;
    opacity: 1;
    color: #86bbd8;
  }
}

@-o-keyframes fadeIn {
  0% {
    filter: blur(1px);
    opacity: 0.5;
    color: #466474;
  }
  50% {
    opacity: 0.75;
    color: #60869b;
  }
  100% {
    filter: none;
    opacity: 1;
    color: #86bbd8;
  }
}

@-ms-keyframes fadeIn {
  0% {
    filter: blur(1px);
    opacity: 0.5;
    color: #466474;
  }
  50% {
    opacity: 0.75;
    color: #60869b;
  }
  100% {
    filter: none;
    opacity: 1;
    color: #86bbd8;
  }
}

/* Timer */
.timer__label {
  color: lightgray;
  grid-area: timerLabel;
  padding-bottom: 10px;
  align-self: center;
}

.timer__options {
  grid-area: timerOptions;
  padding-bottom: 10px;
  align-self: center;
}

.timer__counter {
  grid-area: timerCounter;
  color: darkgray;
  padding-bottom: 10px;
  align-self: center;
}

.timer__options span {
  color: darkgray;
  padding: 3px 5px 3px 5px;
  border-radius: 5px;
}

.timer__options span:hover {
  color: white !important;
  cursor: pointer;
}

.timer__counter--warning {
  color: yellow !important;
}

.timer__counter--expiring {
  color: orangered !important;
}

.timer__counter--expired span {
  color: red;
  animation: blinker 2s linear infinite;
}

.timer__counter span {
  display: inline;
  vertical-align: middle;
}

.timer__selected {
  color: green !important;
}

.timer__options--expired {
  color: rgba(255, 0, 0, 1) !important;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}


/* Reset Button */
.resetButton__button {
  grid-area: resetButton;
  width: 144px;
  color: rgb(224, 224, 224) !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #9b201e;
  border-radius: 7px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  outline: none;
  max-height: 40px;
  min-height: 40px;
}

.resetButton__button:hover {
  cursor: pointer !important;
  color: white;
  background: #d82f2c !important;
}

.resetButton__button:active {
  color: #fff !important;
  background: #9b201e !important;
}