.secondaryEvidence {
  padding-top: 10px;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template:
    "secondaryEvidenceHeader"
    "secondaryEvidence";
}

@media (max-width: 1200px) {
  .secondaryEvidence {
    padding-top: 10px;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template:
      "secondaryEvidenceHeader"
      "secondaryEvidence";
  }
}

@media (max-width: 1024px) {
  .secondaryEvidence {
    padding-top: 10px;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template:
      "secondaryEvidenceHeader"
      "secondaryEvidence";
  }
}

@media (max-width: 768px) {
  .secondaryEvidence {
    padding-top: 10px;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template:
      "secondaryEvidenceHeader"
      "secondaryEvidence";
  }
}

@media (max-width: 480px) {
  .secondaryEvidence {
    padding-top: 10px;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template:
      "secondaryEvidenceHeader"
      "secondaryEvidence";
  }
}

.secondaryEvidence__evidence__header {
  text-align: center;
  color: darkgray;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  vertical-align: middle;
  min-width: 100vw;
  margin-bottom: 5px;
  background-color: #3e4249;
  border-radius: 3px;
}

.secondaryEvidence__evidence__header span {
  vertical-align: middle;
  padding-right: 5px;
}

.secondaryEvidence__evidence {
  grid-area: secondaryEvidence;
  min-width: 50vw;
}

@media (max-width: 1200px) {
  .secondaryEvidence__evidence {
    grid-area: secondaryEvidence;
  }

}

@media (max-width: 1024px) {
  .secondaryEvidence__evidence {
    grid-area: secondaryEvidence;
  }

}

@media (max-width: 768px) {
  .secondaryEvidence__evidence {
    grid-area: secondaryEvidence;
  }

}

@media (max-width: 480px) {
  .secondaryEvidence__evidence {
    grid-area: secondaryEvidence;
    padding-left: 10px;
    font-size: 0.9em;
  }
}

.secondaryEvidence__evidence--item {
  grid-area: secondaryEvidenceItem;
  display: block;
}

.secondaryEvidence__evidence__header--open {
  color: white;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
}
.secondaryEvidence__evidence__header:hover {
  cursor: pointer;
  color: white;
}

.secondaryEvidence__evidence--hidden {
  display: none;
}

.secondaryEvidence__evidence--icons {
  padding-right: 3px;
  display: inline;
}

.secondaryEvidence__evidence--icons span {
  padding-right: 3px;
}

.secondaryEvidence___description {
  display: inline;
}

.secondaryEvidence___description:hover {
  color: lightgrey;
  cursor: pointer;
}

.secondaryEvidence___description span {
  padding-left: 5px;
  display: inline;
}

.secondaryEvidence___description--highlighted {
  color: lightgrey;
}

.secondaryEvidence___description--highlighted:hover {
  color: white;
}

.secondaryEvidence___description--disabled {
  color: gray;
}

.secondaryEvidence__evidence--icon {
  display: inline;
}
