.secondaryEvidence {
  padding: 0 0 10px 0;
  margin-top: -5px;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template:
    "secondaryEvidenceHeader"
    "secondaryEvidence";
}

@media (max-width: 1200px) {
  .secondaryEvidence {
    padding-top: 10px;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template:
      "secondaryEvidenceHeader"
      "secondaryEvidence";
  }
}

@media (max-width: 1024px) {
  .secondaryEvidence {
    padding-top: 10px;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template:
      "secondaryEvidenceHeader"
      "secondaryEvidence";
  }
}

@media (max-width: 768px) {
  .secondaryEvidence {
    padding-top: 10px;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template:
      "secondaryEvidenceHeader"
      "secondaryEvidence";
  }
}

@media (max-width: 480px) {
  .secondaryEvidence {
    padding-top: 10px;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template:
      "secondaryEvidenceHeader"
      "secondaryEvidence";
  }
}

.secondaryEvidence__evidence__header {
  text-align: center;
  color: var(--color-medium-gray);
  border: 2px solid transparent;
  vertical-align: middle;
  min-width: 95vw;
  margin-bottom: 0;
  background-color: var(--section-background-color-primary);
  border-radius: 3px;
  padding: 5px 0 5px 0;
}

.secondaryEvidence__evidence__header span {
  vertical-align: middle;
  padding-right: 5px;
}

.secondaryEvidence__evidence {
  margin-top: -2px;
  margin-left: 2px;
  margin-right: 2px;
  padding: 5px 10px 5px 0;
  grid-area: secondaryEvidence;
  justify-self: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: auto;
}

@media (max-width: 1200px) {
  .secondaryEvidence__evidence {
    grid-area: secondaryEvidence;
  }

}

@media (max-width: 1024px) {
  .secondaryEvidence__evidence {
    grid-area: secondaryEvidence;
  }

}

@media (max-width: 768px) {
  .secondaryEvidence__evidence {
    grid-area: secondaryEvidence;
  }

}

@media (max-width: 480px) {
  .secondaryEvidence__evidence {
    grid-area: secondaryEvidence;
    padding-left: 10px;
    font-size: 0.9em;
  }
}

.secondaryEvidence__evidence--item {
  grid-area: secondaryEvidenceItem;
  flex: 1 1 auto;
}

.secondaryEvidence__evidence__header--open {
  color: var(--color-text-highlight);
}
.secondaryEvidence__evidence__header:hover {
  cursor: pointer;
  color: var(--color-text-highlight);
}

.secondaryEvidence__evidence--hidden {
  display: none;
}

.secondaryEvidence__evidence--icons {
  padding-right: 3px;
  display: inline;
}

.secondaryEvidence__evidence--icons span {
  padding-right: 3px;
}

.secondaryEvidence___description {
  display: inline;
}

.secondaryEvidence___description:hover {
  color: var(--color-light-gray);
  cursor: pointer;
}

.secondaryEvidence___description span {
  padding-left: 5px;
  display: inline;
}

.secondaryEvidence___description--highlighted {
  color: var(--color-light-gray);
}

.secondaryEvidence___description--highlighted:hover {
  color: var(--color-text-highlight);
}

.secondaryEvidence___description--disabled {
  color: var(--color-medium-gray);
}

.secondaryEvidence__evidence--icon {
  display: inline;
}
