.header__title {
  color: var(--color-text-highlight);
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 0;
  padding-top: 0;
  margin-top: 5px;
}

.header__links {
  font-size: 1.1rem;
  text-align: center;
  padding-top: 0;
}

.header__links span {
  padding: 0 10px 5px 0;
  cursor: pointer;
}

.header__link-active {
  color: var(--color-text-accent-secondary);
  text-decoration: underline;
}

.header__link-inactive {
  color: var(--color-medium-gray);
}
.header__link-inactive:hover {
  color: var(--color-text-highlight);
  text-decoration: underline;
}

.randomizer__section_link {
  color: var(--color-medium-gray);
  font-size: 0.8rem;
}

.randomizer__section_link:hover {
  color: var(--color-light-gray);
  text-decoration: underline;
}

.randomizer__section_link--active {
  color: var(--color-text-accent-tertiary);
  text-decoration: underline;
}