.randomizer__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
  align-items: flex-start;
  grid-area: RandomizerWrapper;
  width: 95vw;
}

.randomizer__wrapper h3 {
  color: var(--color-text-accent-tertiary);
  text-align: center;
  font-size: 1.2rem;
}