body {
  background-color: #282c34;
}

.App {
  text-align: center;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template:
    "header"
    "evidence"
    "ghosts"
    "controls";
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.App-header {
  padding: 5px;
  background-color: #282c34;
  min-height: 5vh;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  grid-area: header;
}

.App-section-evidence {
  padding: 5px;
  background-color: #282c34;
  min-height: 5vh;
  max-width: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: start;
  grid-row: row 2;
  grid-area: evidence;
}

.App-section-ghosts {
  padding: 5px;
  background-color: #282c34;
  max-width: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: stretch;
  grid-area: ghosts;
}

.App-section-controls {
  grid-area: controls;
  justify-self: flex-end;
}

.App-section-controls button {
  width: 150px;
  font-family: "Times New Roman", Times, serif;
  color:rgb(224, 224, 224) !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #9b201e;
  padding: 10px;
  margin-right: 7px;
  border-radius: 7px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  outline: none;
}

.App-section-controls button:hover {
  color: rgb(224, 224, 224) !important;
  background: #d82f2c;
}

.App-section-controls button:active {
  color: #fff !important;
  background: #8b1e1d;
}

.App-link {
  color: #61dafb;
}

span.Tag-evidence-checked {
  border: none;
  color: green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

span.Tag-evidence-unchecked {
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

span.Evidence-item span.Evidence-name {
  opacity: 1;
}

span.Evidence-item:hover span.Evidence-name-active,
span.Evidence-item:hover span.Evidence-name-default,
span.Evidence-item:hover span.Evidence-name-inverted {
  opacity: 1;
}

span.Evidence-name-active,
span.Evidence-name-default,
span.Evidence-name-inverted {
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  opacity: 0.35;
  color: white;
}

span.Evidence-name-active {
  opacity: 1;
}

span.Evidence-name-inverted {
  opacity: 0.35;
  text-decoration: line-through;
}

span.Tag-ghost-valid {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

span.Tag-ghost-invalid {
  background-color: rgb(243, 243, 243);
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  opacity: 0.15;
}
