:root {
  --background-color: #223;
  --section-background-color-primary: #212f45;
  --section-background-color-secondary: #303036;
  --section-background-color-tertiary: #1b263b;
  --button-color: #184e77;
  --button-color-active: #1a759f;
  --button-color-invalid: #ddd;
  --color-bright-yellow: #fff600;
  --color-bright-red: #cf142b;
  --color-dark-red: #9b201e;
  --color-medium-yellow: #eed202;
  --color-medium-orange: #f56414;
  --color-medium-green: #259c31;
  --color-dark-green: #045c04;
  --color-dark-gray: #121212;
  --color-medium-gray: #919090;
  --color-bright-green: #39ff14;
  --color-text-highlight: #ffffff;
  --color-light-gray: #bfbfbf;
  --color-text-accent-primary: #5a87a3;
  --color-text-accent-secondary: #f6ae2d;
  --color-text-accent-tertiary: #8ab5cf;
  --ghost-animation-from: -53%;
  --ghost-animation-to: 100%;
  /* Randomizer */
  --randomizer-item-width: calc(100% / 4);
}

@media (max-width: 1200px) {
  :root {
    --ghost-animation-from: -55%;
    --ghost-animation-to: 100%;
  }
}

@media (max-width: 1024px) {
  :root {
    --ghost-animation-from: -82%;
    --ghost-animation-to: 100%;
  }
}

@media (max-width: 768px) {
  :root {
    --ghost-animation-from: -85%;
    --ghost-animation-to: 100%;
  }
}
@media (max-width: 480px) {
  :root {
    --ghost-animation-from: -125vw;
    --ghost-animation-to: 75vw;
    --randomizer-item-width: 120px;
  }
}

@media (max-width: 375px) {
  :root {
    --ghost-animation-from: -135vw;
    --ghost-animation-to: 70vw;
    --randomizer-item-width: 100px;
  }
}

html {
  width: 100vw !important;
  overflow-x: hidden;
  font-size: 17px;
  user-select: none;
}

@media (max-width: 900px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 13px;
  }
}

h3 {
  font-size: 1em;
  font-weight: normal;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  font-family: "Indie Flower", cursive;
  padding: 10px;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
div#root {
  display: grid;
  user-select: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "EvidenceWrapper"
    "RandomizerWrapper"
    "version ";
}
.main {
}

.main__header {
  display: grid;
  grid-area: header;
  font-size: 1.5rem;
  margin: 0 0 5px 0;
}

.main__ghostName {
  display: grid;
  grid-area: ghostName;
  background-color: var(--section-background-color-primary);
  margin: 0 0 10px 0;
}

.main__evidence {
  display: grid;
  grid-area: evidence;
  background-color: var(--section-background-color-secondary);
  border: 2px solid var(--color-medium-gray);
  border-radius: 5px;
}

.main__ghosts {
  grid-area: ghosts;
  position: relative;
}

.main__tools {
  display: grid;
  grid-area: tools;
}

.main__secondaryEvidence {
  display: grid;
  grid-area: secondaryEvidence;
}

.main__version {
  display: grid;
  grid-area: version;
  font-size: 0.75em;
  color: var(--color-medium-gray);
  text-align: center;
  padding: 15px;
}
