:root {
  --background-color: #31343a;
  --section-background-color-primary: #3e4249;
  --section-background-color-secondary: #2f4858;
  --button-color: #184e77;
  --button-color-active: #1a759f;
  --button-color-invalid: #ddd;
  --color-bright-yellow: #fff600;
  --color-bright-red: #cf142b;
  --color-dark-red: #9b201e;
  --color-medium-yellow: #eed202;
  --color-medium-orange: #f56414;
  --color-medium-green: #0a6e14;
  --color-dark-gray: #121212;
  --color-medium-gray: #919090;
  --color-bright-green: #39ff14;
  --color-text-highlight: #ffffff;
  --color-light-gray: #bfbfbf;
  --color-text-accent-primary: #5a87a3;
  --color-text-accent-secondary: #f6ae2d;
  --color-dark-green: #045c04;
  --ghost-animation-from: -53%;
  --ghost-animation-to: 100%;
}


@media (max-width: 1200px) {
  :root {
    --ghost-animation-from: -55%;
    --ghost-animation-to: 100%;
  }
}

@media (max-width: 1024px) {
  :root {
    --ghost-animation-from: -82%;
    --ghost-animation-to: 100%;
  }
}

@media (max-width: 768px) {
  :root {
    --ghost-animation-from: -85%;
    --ghost-animation-to: 100%;
  }
}
@media (max-width: 480px) {
  :root {
    --ghost-animation-from: -125vw;
    --ghost-animation-to: 50vw;
  }
}

@media (max-width: 375px) {
  :root {
    --ghost-animation-from: -135vw;
    --ghost-animation-to: 50vw;
  }
}


html {
  width: 100vw !important;
  overflow-x: hidden;
  font-size: 17px;
}

@media (max-width: 900px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 13px;
  }
}

h3 {
  font-size: 1em;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  font-family: "Indie Flower", cursive;
  padding: 0;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main {
  user-select: none;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-areas:
    "header"
    "ghostName"
    "evidence"
    "ghosts"
    "tools"
    "secondaryEvidence"
    "version ";
}

.main__header {
  display: grid;
  grid-area: header;
  font-size: 1.5rem;
}

.main__ghostName {
  display: grid;
  grid-area: ghostName;
  background-color: var(--section-background-color-primary);
}

.main__evidence {
  display: grid;
  grid-area: evidence;
  background-color: var(--section-background-color-secondary);
  border-top: 2px solid var(--color-medium-gray);
  border-bottom: 2px solid var(--color-medium-gray);
  width: 100vw;
}

.main__ghosts {
  grid-area: ghosts;
  position: relative;
  width: 100vw;
}

.main__tools {
  display: grid;
  grid-area: tools;
}

.main__secondaryEvidence {
  display: grid;
  grid-area: secondaryEvidence;
}

.main__version {
  grid-area: version;
}
